<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :course_id, "Curso" %><br />
    <%= f.select('course_id', @courses.collect{|course| [course.name.capitalize, course.id]}, {:prompt => "Curso"}, {:class=>"form-control", :required=>"required", :value => (f.object.course_id.to_i if f.object.course_id) }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
